.apartments {
    background: $apartments-bg;
    .section_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            font-weight: 400;
            color: $black-light;
            font-size: 1.2rem;

            span {
                color: $base-color;
            }
        }
        a {
            color: $menu-color;
            text-decoration: none;
            font-size: 1rem;
        }
    }
    .apartments_list_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        .apartments_card {
            img {
                width: 100%;
            }
            .apartments_meta {
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    color: $menu-color;
                    font-size: 0.8rem;
                    padding-top: 0.4rem;
                }
            }
            .apartments_title {
                margin-top: 1rem;

                a {
                    color: $black-light;
                    text-decoration: none;
                    line-height: 1.6;
                }
            }
            
        }
    }
}